:root {
  --mobile: 799px;
  --desktop: 800px;
  --backgroun-0:#ffffff;
  --site-header:#0a8a4f;
  --title-dark:#000;
  --green-50:#69c16f;
  --color:#d6ec8e;
 --card-100:#ffffff;
 --blue-50:#3a76ed;
 --grey-50:#b2b2b2;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--backgroun-0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}
/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.body {
font-family: "system-ui";
line-height: 1.4;}

.btn {
  
  color: var(--backgroun-0);
  border-radius: 5px;
  font-weight: 500;
  padding:0.5rem  1.5rem ;
}

.btn--info{
  background: var(--grey-50);

}

.btn--action {
  
  
  background: var(--blue-50);
 
}